<head>
    <style>
    html {
    scroll-behavior: smooth;
    }
    </style>
    <meta name="google-site-verification" content="YUTIfkbKGq0VvdyCp1rSAfbqzNL3ECk4Ru3plKNUU7g" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "css/main.css" | absURL }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lora%7CRaleway" rel="stylesheet">
    <!-- OG and other metadata -->
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Zach Beauvais – coffee drinker, writer, and strategist" />
    <meta property="og:description" content="Zach Beauvais is a writer and content strategist who works with communities on the web. Words, coffee, and people – while keeping an eye on the big ideas." />
    <meta property="og:url" content="https://zachbeauvais.com/" />
    <meta property="og:site_name" content="Zach Beauvais" />
</head>