<header class="hero has-hero-image is-fullheight">
  
  <div class="hero-head">
  </div>
  <div class="hero-body">
      <div class="is-centered has-text-centered">
        <div id="hero-title" class="container">
          <div class="logo">
                    <img id="logo" class="image" src="{{ .Site.Params.logowhite }}" alt="logo that says Zach">
                </div>
          <h1 class="title has-white-text is-1">
          {{ .Site.Params.owner }}
          </h1>
          <h2 class="subtitle has-white-text is-2">
            {{ .Site.Params.subtitle }}
          </h2>
        </div>
        
      </div>
    </div>
  </div>
  <div class="hero-footer">
    
  </div>
</header>