<!-- partials/hero-node -->
{{ if isset .Params "image" }}
<header class="hero has-hero-image is-fullheight" style='background-image:url("/images/{{ .Params.image }}");'>
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title has-white-text is-1 is-shadow">
      {{ .Title }}
      </h1>
    </div>
  </div>
</header>
{{ else }}
<header class="">
  <div class="container">
    {{ if isset .Params "no-title" }}
    {{ else }}
    <div>
      <h2 class="title">{{ .Params.Title }}</h2>
    </div>
    {{ end }}
  </div>
  
  </header><!-- /header -->
  {{ end }}