<nav  class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-menu is-transparent">
        <div class="navbar-brand">
            
        </div>
        <div class="navbar-end">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="/blog" class="navbar-item">
                Blog
            </a>
            <a href="/bio" class="navbar-item">
                Bio
            </a>
            <a href="/cv" class="navbar-item">
                CV
            </a>
            
            <span class="navbar-item">
                <a href="https://www.etsy.com/shop/WoodFromTrees" class="button is-green">
                    <span class="icon">
                        <i class="fa fa-etsy"></i>
                    </span>
                    <span>Etsy Shop</span>
                </a>
            </span>
            
        </div>
    </div>
</nav>