<nav  class="navbar is-transparent is-fixed-top" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="is-hidden-mobile">
            <a href="/" title="home">
                <img class="nav-logo" src="/images/zb_logo.png" alt="">
            </a>
        </div>
        <div id="burger" class="navbar-burger burger" onclick="toggleBurger()" data-target="nav-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="nav-menu" class="navbar-menu ">
        <div class="navbar-end">
            <div class="level-right">
                <a href="/" class="navbar-item">Home</a>
                <a href="/blog" class="navbar-item">Blog</a>
                <a href="/bio" class="navbar-item">Bio</a>
                <a href="/cv" class="navbar-item">CV</a>
            </div>
            <div class="level-right is-grouped">
                <a href="https://twitter.com/beauvais" class="navbar-item">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/zbeauvais/" class="navbar-item">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="https://www.flickr.com/beauvais/" class="navbar-item">
                    <i class="fa fa-flickr"></i>
                </a>
                <a href="https://linkedin.com/in/zachbeauvais" class="navbar-item">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
            <div class="level-right">
                <span class="navbar-item">
                    <a href="https://www.etsy.com/shop/WoodFromTrees" class="button is-green">
                        <span class="icon">
                            <i class="fa fa-etsy"></i>
                        </span>
                        <span>Etsy Shop</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>
<script >
const toggleBurger = () => {
let burgerIcon = document.getElementById('burger');
let dropMenu = document.getElementById('nav-menu');
burgerIcon.classList.toggle('is-active');
dropMenu.classList.toggle('is-active');
};
</script>