<section id="post-hero" class="section is-small">
    <div class="columns is-centered is-vcentered">
    <div class="column is-9">
        {{ range first 1 (where .Data.Pages "Type" "post") }}
        
        {{ if isset .Params "image" }}
        <div class="image">
            <a href="{{.URL}}" title="{{.Title}}">
                <img class="post-hero-image" src="/images/{{ .Params.image }}" alt="{{ .Params.image_alt }}">
            </a>
        </div>
        {{ else}}
        <div>
            <p>not set</p>
        </div>
        {{ end }}
    </div>
</div>
    <div class="columns is-centered is-vcentered">
        <div class="column is-7">
            <!-- Gets latest blog post to display on homepage -->
            <div class="content">
                <h2 class="title">
                <a href="{{.URL}}" title="{{.Title}}">
                    {{ .Title }}
                </a>
                </h2>
                <!-- Post metadata -->
                <div class="level">
                    <div class="level-left is-size-7">
                        <span class="level-item">Posted on: {{ .PublishDate.Format "2 January, 2006" }}</span>
                        {{ if isset .Params "categories" }}
                        <span class="level-item">In:&nbsp;
                            {{ range .Params.categories }}
                            <a href="{{ delimit (slice "/categories/" (urlize .) $.Site.Params.ugly) "" | relURL }}"> {{ . }}&nbsp;</a>
                            {{ end }}
                        </span>
                        {{ end }}
                    </div>
                </div>
                <div class="content">
                    <p> {{ .Summary | markdownify }}</p>
                    <br>
                    <span class="is-pulled-right">
                        <a class="button" href="{{.URL}}" title="{{.Title}}">Keep reading&#8230;</a>
                    </span>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>

</section>