<section id="top" class="section">
    <div class="columns is-centered is-vcentered">
        <div class="column is-vcentered is-centered is-8">
            <div class="logo">
                <img  class="" src="/images/zb_logo.png" alt="logo that says Zach">
            </div>
            <a href="/" title="home">
                <div  id="logo" class="content has-text-centered">
                    <h1 class="logo-title">Zach Beauvais</h1>
                    <h2 class="subtitle">Writer, wood worker, word strategist</h2>
                </div>
            </a>
            <hr>
        </div>
    </div>
    
</section>