
<section id="top" class="section">
    <div class="columns is-centered is-vcentered">
        <div class="column is-vcentered is-centered is-8">
            <a href="/" title="home">
                <div class="logo">
                    <img class="image" src="{{ .Site.Params.logo }}" alt="logo that says Zach">
                </div>
                
                <div  id="logo" class="content has-text-centered">
                    <h1 class="logo-title">Zach Beauvais</h1>
                    <h2 class="subtitle">{{ .Site.Params.subtitle }}</h2>
                </div>
            </a>
            <hr>
        </div>
    </div>
    
</section>