<section id="greenwood" class="section is-small">
    
        <div class="columns is-centered is-vcentered">
            <div class="column is-3 has-text-centered   ">
                <img src="{{ with .Site.GetPage "section" "greenwood" }}{{ .Params.image }}{{ end }}">            
            </div>
            <div class="column is-7">
                <div class="content">
                    <h2 class="title"> {{ with .Site.GetPage "section" "greenwood" }}{{ .Title }}{{ end }}</h2>
                    <h3 class="subtitle">{{ with .Site.GetPage "section" "greenwood" }}{{ .Params.subtitle }}{{ end }}</h3>
                    <div>
                        {{ with .Site.GetPage "section" "greenwood" }}{{ .Content}}{{ end }}
                    </div>
                </div>
            </div>
        </div>
    
</section>