{{ define "main"}}
<!-- _default/blog -->
{{ partial "hero-node" .}}
<section class="section is-medium">
    <div class="columns is-centered is-vcentered">
        <div class="column is-vcentered is-centered is-8">
            <div class="title">
                <h2>{{ .Title }} </h2>
            </div>
            <div class="level">
                <div class="level-item">
                    <p class="heading">Posted on: {{ .PublishDate.Format "2 January, 2006" }} </p>
                </div>
                 {{ if isset .Params "categories" }}
                <div class="level-item">
                    <p class="heading">In: {{ range .Params.categories }} <a href="{{ delimit (slice "/categories/" (urlize .) $.Site.Params.ugly) "" | relURL }}"> {{ . }}&nbsp;</a> {{ end }}</p>
                </div>
                 {{ end }}
                <div class="level-item">
                    <p class="heading"> {{ .ReadingTime }} min read</p>
                </div>
                <hr>
            </div>
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>
{{ end }}
