{{ define "main"}}
<section class="section is-medium">
    <div class="content">
        <h1>{{ .Title }}</h1>
        <p>/section/blog.html</p>
    </div>
</section>
<div class="container">
    
    <!-- orders content (reversed) according to the "publishdate" field in front matter -->
    <div class="tile is-ancestor">
        {{ range first 4 .Data.Pages.ByPublishDate.Reverse }}
        <div class="tile is-parent is-3">
        <article class="tile is-child box is-shadowless">
            <div class="image">
                {{ if isset .Params "image" }}
                <figure class="image is-128x128">
                    <a href="{{.URL}}" title="{{.Title}}">
                        <img  src="/images/{{ .Params.image }}" alt="{{ .Params.image_alt }}">
                    </a>
                </figure>
                {{ else}}
                
                   <i class="far fa-newspaper fa-10x"></i>
                
                {{ end }}
            </div>
            <div class="">
                <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                <time>{{ .Date.Format "2 Jan, 2006" }}</time>
            </div>
        </article>
</div>
        {{ end }} 
    
    </div>
</div>
{{ end }} 